
.App__header{
  padding: 1rem;
}

.App__header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App__header nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

}

.App__header nav a:visited {
  color: inherit;
}