
.App__header{
  padding: 1rem;
}

.App__header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App__header nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

}

.App__header nav a:visited {
  color: inherit;
}


.cards {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
}

.card {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  margin-right: 1px;
}

.card--image {
  height: 70%;
  width: 100%;
  border-radius: 9px;
}